<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
        <!-- Add you code here -->
        <menuitem id="menu_root" name="Auto Clean" sequence="0" web_icon="composeautoclean,static/img/car-service.png"/>
        <menuitem id="menu_master_data" name="Master Data" parent="menu_root" sequence="10"/>
    </data>

</odoo>
